
h1{
  text-align: center;
  color:whitesmoke;
  font-family: verdana;
}
@media all and (max-width:240px){
div{
  width: 30%;
  height: 50%;
  border: 6px solid rgb(236, 232, 232);
  background-color: black;
}
}
/*p{
  width:460px ;
  height:260px;
  background-color: rgba(125, 125, 180, 0.5);
  border-radius: 8px solid rgb(100, 148, 100);
}*/
option{
  font-weight: bold;
  color:rgb(20, 20, 150);
}
select{
  font-weight: bold;
  color:rgb(20, 20, 150);
}
label{
  font-weight: bold;
  color:white
}

